{% load static %}

<section id="footer_section" class="footer_section">
    <div class="container">
        <hr class="footer-top">

        <div class="row">

            <div class="col-md-3" style="margin-top: 45px">
                <a title="fontanero" href="{% url 'AggregatorApp:index' %}">
                    <img src="{% static 'assets/img/times_daily_logo_3.png' %}" alt="technews">
                </a>
            </div>

            <div class="col-md-3">
                <div class="footer_widget_title">
                    <h3><a href="#" target="_blank">About Times</a></h3>
                </div>
                <div class="logo footer-logo" style="margin-top: 16px">

                    <p>Competently conceptualize go forward testing procedures and B2B expertise.
                        Phosphorescently
                        cultivate principle-centered methods.of empowerment through fully researched.
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_widget_title">
                    <h3><a href="#" target="_blank">Categories</a></h3>
                </div>
                <div class="row" style="margin: auto; width: 50%">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'AggregatorApp:index' %}">Home</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'top' %}">Top News</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'world' %}">World</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'sports' %}">Sports</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'politics' %}">Politics</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'business' %}">Business</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer_widget_title">
                    <h3><a href="#" target="_blank">Categories</a></h3>
                </div>
                <div class="row" style="margin: auto; width: 60%">
                    <div class="col-xs-12">
                        <ul class="list-unstyled">
                            <li><a href="{% url 'AggregatorApp:category' 'entertainment' %}">Entertainment</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'culture' %}">Culture</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'science-technology' %}">Science and Tech</a>
                            </li>
                            <li><a href="{% url 'AggregatorApp:category' 'environment' %}">Environment</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'opinion' %}">Opinion</a></li>
                            <li><a href="{% url 'AggregatorApp:category' 'other' %}">Other</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer_bottom_Section">
        <div class="container">
            <div class="row">
                <div class="footer">

                    <div class="col-sm-3">
                        <div class="social">
                            <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a class="icons-sm inst-ic"><i class="fa fa-instagram"> </i></a>
                            <!--Linkedin-->
                            <a class="icons-sm tmb-ic"><i class="fa fa-tumblr"> </i></a>
                            <!--Pinterest-->
                            <a class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <p>&copy; Copyright Times Daily
                        </p>
                    </div>

                    <div class="col-sm-3">
                        <p>All News Daily</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>