{% load static %}

<div class="col-md-4">

    {% if section == 'top' or source == 'AP News' or tag == 'ap top news' %}
        {% include 'AggregatorApp/widgets/cultural-news-widget.html' %}
        <!-- Cultural News -->
    {% else %}
        {% include 'AggregatorApp/widgets/popular-news-widget.html' %}
        <!-- Popular News -->
    {% endif %}

    {% if section == 'opinion' %}
        {% include 'AggregatorApp/widgets/other-news-widget.html' %}
        <!-- Other News -->
    {% elif source == 'The Guardian' %}
        <p></p>
    {% else %}
        {% include 'AggregatorApp/widgets/opinion-news-widget.html' %}
        <!-- Opinion News -->
    {% endif %}
</div>