{% extends 'AggregatorApp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Change Password{% endblock title %}

{% block css-head %}
    <style>
        .change-password {
            margin: auto;
            width: 50%;
            padding-top: 15px;
        }

        .panel-heading {
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="change-password container-fluid">
        <!-- Content Row -->
        <div class="panel col-lg-12">

            <div class="panel-heading">
                <h2>
                    <center>Change Password</center>
                </h2>
            </div>

            <div class="panel-body">

                <form method="post">
                    {% csrf_token %}

                    {% if messages %}
                        {% for message in messages %}
                            <small class="text-danger">{{ message }}</small>
                        {% endfor %}
                    {% endif %}

                    <small class="text-danger">
                        {{ form.non_field_errors }}
                    </small>

                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.old_password.errors }}
                        </small>
                        <div class="col-3">
                            <label>Old Password</label>
                        </div>
                        <div class="col-9">
                            {% render_field form.old_password class="form-control" placeholder='Old Password' %}
                        </div>
                    </div>

                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.new_password1.errors }}
                        </small>
                        <div class="col-3">
                            <label>New Password</label>
                        </div>
                        <div class="col-9">
                            {% render_field form.new_password1 class="form-control" placeholder='New Password' %}
                        </div>
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.new_password2.errors }}
                        </small>
                        <div class="col-3">
                            <label>New Password Confirmation</label>
                        </div>
                        <div class="col-9">
                            {% render_field form.new_password2 class="form-control" placeholder='New Password Confirmation' %}
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-default" type="submit" value="Update">
                        <a href="{% url 'AggregatorApp:index' %}" class="btn">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
{% endblock %}