{% extends 'AggregatorApp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Sign In{% endblock %}

{% block css-head %}
    <style>
        .sign-in {
            margin: auto;
            width: 50%;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="sign-in container-fluid">
        <!-- Content Row -->
        <div class="panel col-lg-12">

            <div class="panel-heading">
                <h2>
                    <center>Sign In</center>
                </h2>
            </div>

            <div class="panel-body">

                <form class="user" method="post">
                    {% csrf_token %}

                    <small class="text-danger">
                        {{ form.non_field_errors }}
                    </small>

                    <div class="form-group">
                        <div class="col-3">
                            <label>Username</label>
                        </div>
                        {% render_field form.username class="form-control form-control-user" placeholder="Username" %}
                    </div>

                    <div class="form-group">
                        <div class="col-3">
                            <label>Password</label>
                        </div>
                        {% render_field form.password class="form-control form-control-user" placeholder="Password" %}
                    </div>

                    <input type="submit" class="btn btn-secondary btn-user btn-block" value="Sign In">

                </form>

            </div>
        </div>
        <!-- /.container-fluid -->
        <div class="text-center">
            <p>Create an Account!&nbsp<a class="btn-link" href="{% url 'AggregatorApp:sign-up' %}">Sign Up</a></p>
        </div>
    </div>
{% endblock %}