{% extends 'AggregatorApp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Sign Up{% endblock %}

{% block css-head %}
    <style>
        .sign-up {
            margin: auto;
            width: 50%;
            padding-top: 15px;
        }

        .panel-heading {
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="sign-up container-fluid">
        <!-- Content Row -->
        <div class="panel col-lg-12">

            <div class="panel-heading">
                <h2>
                    <center>Sign Up</center>
                </h2>
            </div>

            <div class="panel-body">

                <form method="post">
                    {% csrf_token %}

                    {% if messages %}
                        {% for message in messages %}
                            <small class="text-danger">{{ message }}</small>
                        {% endfor %}
                    {% endif %}

                    <small class="text-danger">
                        {{ form.non_field_errors }}
                    </small>

                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.username.errors }}
                        </small>
                        <div class="col-3">
                            <label>Username</label>
                        </div>
                        <div class="col-9">
                            {% render_field form.username class="form-control" placeholder=form.username.label %}
                        </div>
                        <span class="helptext">
                            Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                        </span>
                    </div>

                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.password1.errors }}
                        </small>
                        <div class="col-3">
                            <label>Password</label>
                        </div>
                        <div class="col-9">
                            {% render_field form.password1 class="form-control" placeholder=form.password1.label %}
                        </div>
                        <ul>
                            <li>Your password can’t be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can’t be a commonly used password.</li>
                            <li>Your password can’t be entirely numeric.</li>
                        </ul>
                    </div>

                    <div class="form-group">
                        <small class="text-danger">
                            {{ form.password2.errors }}
                        </small>
                        <div class="col-3">
                            <label>Password Confirmation</label>
                        </div>
                        <div class="col-9">
                            {% render_field form.password2 class="form-control" placeholder=form.password2.label %}
                        </div>
                        <span class="helptext">
                            Enter the same password as before, for verification.
                        </span>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-default" type="submit" value="Create">
                        <a href="{% url 'AggregatorApp:index' %}" class="btn">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
        <!-- /.container-fluid -->
        <div class="text-center">
            <p>Already have an account?&nbsp<a class="btn-link" href="{% url 'AggregatorApp:sign-in' %}">Sign In</a></p>
        </div>
    </div>
{% endblock %}