{% extends 'AggregatorApp/base.html' %}
{% load static %}

{% block title %}
    {% if source %}
        {{ source }}
    {% elif date %}
        {{ date }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="entity_wrapper">

                    <div class="entity_title header_purple">
                        {% if source %}
                            <h1>News from "{{ source }}"</h1>
                        {% elif date %}
                            <h1>News from "{{ date }}"</h1>
                        {% elif author %}
                            <h1>News from "{{ author }}"</h1>
                        {% endif %}
                    </div>
                    <!-- entity_title -->

                </div>

                {% if object_list %}
                    <div class="category_section camera">
                        <!-- article_title -->
                        {% for news in object_list %}
                            <div class="category_article_wrapper">
                                <div class="row">
                                    <div class="col-md-5">

                                        <div class="top_article_img">
                                            <a href="{{ news.get_absolute_url }}" target="_self">
                                                <img class="img-responsive" src="{{ news.image }}" alt="feature-top">
                                            </a>
                                        </div>
                                        <!-- top_article_img -->

                                    </div>
                                    <div class="col-md-7">
                                        <span class="tag orange">{{ news.section }}</span>

                                        <div class="category_article_title">
                                            <h2><a href="{{ news.get_absolute_url }}"
                                                   target="_self">{{ news.headline }}</a></h2>
                                        </div>
                                        <!-- category_article_title -->

                                        <div class="article_date">
                                            Source: <a href="{% url 'AggregatorApp:news-by-source' news.source %}"> {{ news.source }}</a>&nbsp
                                            Date: <a href="{% url 'AggregatorApp:news-by-date' news.date_time %}"> {{ news.date_time }}</a>&nbsp
                                            Author: <a href="{% url 'AggregatorApp:news-by-author' news.author %}"> {{ news.author }}</a>
                                        </div>
                                        <!----article_date------>
                                        <!-- category_article_wrapper -->

                                        <div class="category_article_content">
                                            {{ news.description }}
                                        </div>
                                        <!-- category_article_content -->
                                    </div>
                                    <!-- col-md-7 -->
                                </div>
                                <!-- row -->
                                <hr>
                            </div>
                            <!-- category_article_wrapper -->
                        {% endfor %}
                    </div>
                {% else %}
                    <hr>
                    <h1>No news.</h1>
                {% endif %}
            </div>
            <!-- col-md-8 -->

            {% include 'AggregatorApp/parts/side-bar-category.html' %}
            <!-- col-md-4 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
{% endblock %}