{% extends 'AggregatorApp/base.html' %}
{% load static %}

{% block title %}User Feed{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="entity_wrapper">

                    <div class="entity_title header_purple">
                        <h1><a href="category.html" target="_blank">User Feed</a></h1>
                    </div>
                    <!-- entity_title -->

                </div>

                {% if object_list %}
                    <div class="category_section camera">
                        <!-- article_title -->
                        {% for news in object_list %}
                            <div class="category_article_wrapper">
                                <div class="row">
                                    <div class="col-md-5">

                                        <div class="top_article_img">
                                            <a href="single.html" target="_self">
                                                <img class="img-responsive" src="{{ news.image }}" alt="feature-top">
                                            </a>
                                        </div>
                                        <!-- top_article_img -->

                                    </div>
                                    <div class="col-md-7">
                                        <span class="tag orange">{{ news.section }}</span>

                                        <div class="category_article_title">
                                            <h2><a href="{{ news.get_absolute_url }}" target="_self">{{ news.headline }}</a></h2>
                                        </div>
                                        <!-- category_article_title -->

                                        <div class="article_date">
                                            Source: <a href="#"> {{ news.source }}</a>&nbsp
                                            Date: <a href="#"> {{ news.date_time }}</a>&nbsp
                                            Author: <a href="#"> {{ news.author }}</a>
                                        </div>
                                        <!----article_date------>
                                        <!-- category_article_wrapper -->

                                        <div class="category_article_content">
                                            {{ news.description }}
                                        </div>
                                        <!-- category_article_content -->
                                    </div>
                                    <!-- col-md-7 -->
                                </div>
                                <!-- row -->
                                <hr>
                            </div>
                            <!-- category_article_wrapper -->
                        {% endfor %}
                    </div>
                {% else %}
                    <hr>
                    <h1>No news.</h1>
                {% endif %}
            </div>
            <!-- col-md-8 -->

            {% include 'AggregatorApp/parts/side-bar-category.html' %}
            <!-- col-md-4 -->
        </div>
        <!-- row -->
    </div>
    <!-- container -->
{% endblock %}